<!DOCTYPE html>
<html lang="en">
<head>

	<% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

	<div id="hero-image-single" style="background-image: url('/images/<%= game.hero_image %>')">
		<h2 id="hero-title"><%= title %></h2>
	</div>

	<div class="content-padding clearfix">

		<div class="poster-wrapper">
			<img src="/images/<%= game.poster %>" class="img-responsive">
		</div>

		<div class="description-wrapper">
			<h2 class="movie-header">Description</h2>
			<p><%= game.description %> </p>
		</div>

		<div class="main-characters">
			<h2 class="movie-header">Main Characters</h2>
			<ul>
				<% for (var i = 0; i < main_characters.length; i++) { %>		<li> <%= main_characters[i]  %> </li>
				<% } %>
			</ul>
		</div>
	</div>
	
	<% include partials/footer.ejs %>
	<% include partials/scripts.ejs %>
</body>
</html>